.MiniNav {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
}

.MiniNav h2 {
	margin-top: 2.25rem;
	width: 100%;
	text-align: center;
}

.MiniNav__grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.MiniNavLink {
	display: block;
	float: left;
	overflow: hidden;
	margin-bottom: 0.125rem;
	width: 190px;
	transition: transform 0.2s, -webkit-transform 0.2s;
	transform: scale(0.95);
}

.MiniNavLink--current {
	outline: 3px solid var(--wp-snapshots-primary);
}

.MiniNavLink:hover {
	transform: scale(1);
}

.MiniNavLink img {
	width: 100%;
	height: auto;
	transition: transform 0.2s;
}

.MiniNavLink:hover img {
	transform: scale(1.06);
}
