.SnapshotsArchive {
	padding: 1.5rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	grid-gap: 1.125rem;
}

.SnapshotsArchive__intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.SnapshotsArchive__title {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.SnapshotsArchive__description {
	margin: 0;
	color: #888;
	font-weight: 600;
	font-size: 1.122rem;
	line-height: 1.5;
}

.SnapshotsArchive__social {
	padding: 1.5rem 0 0;
}

.SnapshotsArchive__social svg {
	color: var(--wp-snapshots-primary);
	margin-right: 0.75rem;
	height: 1.875rem;
	width: 1.875rem;
}
