@-webkit-keyframes fadeIn {

	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 1rem, 0);
		        transform: translate3d(0, 1rem, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		        transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeIn {

	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 1rem, 0);
		        transform: translate3d(0, 1rem, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		        transform: translate3d(0, 0, 0);
	}
}
.SnapshotsMain {
	max-width: 1500px;
	margin: 0 auto;
	width: 100%;
	padding-top: 6rem;
	padding-bottom: 3rem;
}
.SnapshotsMain__title-container {
	width: 100%;
	max-width: 768px;
	margin: 1.5rem auto 3rem;
	padding-right: 1rem;
	padding-left: 1rem;
}
@media screen and (min-width: 992px) {

	.SnapshotsMain__title-container {
		-webkit-transform: scale(1.19);
		        transform: scale(1.19);
	}
}
.SnapshotsMain__title-container h1 a {
	position: relative;
	display: block;
	margin-bottom: 2.25rem;
	padding-bottom: 0.75rem;
	text-align: right;
}
.SnapshotsMain__title-container h1 a::before {
	position: absolute;
	bottom: -0.3125rem;
	left: 0;
	width: 0.625rem;
	height: 0.625rem;
	background: var(--wp-snapshots-primary);
	content: "";
}
.SnapshotsMain__title-container h1 a::after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid var(--wp-snapshots-primary);
	content: "";
}
.SnapshotsArchive {
	padding: 1.5rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	grid-gap: 1.125rem;
}
.SnapshotsArchive__intro {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.SnapshotsArchive__title {
	margin-top: 0;
	margin-bottom: 0.5rem;
}
.SnapshotsArchive__description {
	margin: 0;
	color: #888;
	font-weight: 600;
	font-size: 1.122rem;
	line-height: 1.5;
}
.SnapshotsArchive__social {
	padding: 1.5rem 0 0;
}
.SnapshotsArchive__social svg {
	color: var(--wp-snapshots-primary);
	margin-right: 0.75rem;
	height: 1.875rem;
	width: 1.875rem;
}
.SnapshotsNavLink {
	position: relative;
	margin-bottom: 0.75rem;
	padding-bottom: 0;
	height: 399px;
	border-radius: 3px;
	overflow: hidden;

	-webkit-perspective: 1000px;

	        perspective: 1000px;
}
@supports ((-webkit-animation-fill-mode: both) or (animation-fill-mode: both)) {

	.SnapshotsNavLink {
		-webkit-animation-name: fadeIn;
		        animation-name: fadeIn;
		-webkit-animation-duration: 1s;
		        animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		        animation-fill-mode: both;
	}
}
.SnapshotsNavLink__inner {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
	-webkit-transition: -webkit-transform 0.6s;
	transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	transition: transform 0.6s, -webkit-transform 0.6s;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}
.SnapshotsNavLink:hover .SnapshotsNavLink__inner {
	-webkit-transform: rotateX(180deg) rotateY(0deg);
	        transform: rotateX(180deg) rotateY(0deg);
}
.SnapshotsNavLink__front,
.SnapshotsNavLink__back {
	position: absolute;
	display: block;
	margin: 0;
	width: 100%;
	height: 100%;
	opacity: 0.99;

	-webkit-backface-visibility: hidden;

	        backface-visibility: hidden;
}
.SnapshotsNavLink__front {
	background-size: cover;
	background-position: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.SnapshotsNavLink__back {
	background: var(--wp-snapshots-secondary);
	-webkit-transform: rotateX(180deg) rotateY(0deg);
	        transform: rotateX(180deg) rotateY(0deg);
	position: relative;
}
.SnapshotsNavLink__back > p {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: #fff;
	padding: 1.5rem;
}
.SnapshotsNavLink__title {
	margin-bottom: 0;
	padding-bottom: 1rem;
	color: #fff;
	text-shadow: 0 0 6px #222;
}
.SnapshotsSingle {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
}
.SnapshotsSingle__image {
	width: 100%;
	height: auto;
}
.SnapshotsSingle__header {
	position: relative;
	margin-bottom: 1.5rem;
}
.SnapshotsSingle__title-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	padding: 0 1.5rem;
}
.SnapshotsSingle__title {
	color: #fff;
}
.SnapshotsSingle__share-band {
	position: relative;
	text-align: center;
	padding: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
@supports (pointer-events: none) {

	.SnapshotsSingle__share-band::after {
		position: absolute;
		top: 0;
		right: -1000%;
		bottom: 0;
		left: -1000%;
		background-color: var(--wp-snapshots-primary);
		pointer-events: none;
		content: "";
		z-index: -1;
	}

	.SnapshotsSingle__share-band a {
		color: #fff;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
	}

	.SnapshotsSingle__share-band a:hover {
		color: #fff;
		-webkit-transform: scale(1.07);
		        transform: scale(1.07);
		opacity: 0.8;
	}

	.SnapshotsSingle__share-band h2 {
		color: #fff;
	}
}
.SnapshotsSingle__share-band h2 {
	text-transform: uppercase;
	font-size: 100%;
}
.SnapshotsSingle__share-band svg {
	height: 1.875rem;
	width: 1.875rem;
	margin: 0 0.5rem;
}
.MiniNav {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
}
.MiniNav h2 {
	margin-top: 2.25rem;
	width: 100%;
	text-align: center;
}
.MiniNav__grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.MiniNavLink {
	display: block;
	float: left;
	overflow: hidden;
	margin-bottom: 0.125rem;
	width: 190px;
	transition: transform 0.2s, -webkit-transform 0.2s;
	-webkit-transform: scale(0.95);
	        transform: scale(0.95);
}
.MiniNavLink--current {
	outline: 3px solid var(--wp-snapshots-primary);
}
.MiniNavLink:hover {
	-webkit-transform: scale(1);
	        transform: scale(1);
}
.MiniNavLink img {
	width: 100%;
	height: auto;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
}
.MiniNavLink:hover img {
	-webkit-transform: scale(1.06);
	        transform: scale(1.06);
}

/*# sourceMappingURL=wp-snapshots.css.map*/